@media screen and (max-width: $on-large) {
  #sitePage {
    .page-cover {
      height: $cover-height * 0.7;
      background-attachment: scroll;
      .page-head {
        .page-title {@include relative-font-size(2);}
      }
    }

    .wrapper {
      width: 90%;
    }
  }
}
