#siteHeader{
  z-index: 100;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  background-color: transparent;

  .wrapper {
    text-align: center;

    nav {
      display: inline-block;
    }
  }

  a {
    display:inline-block;
    height: $header-height;
    padding: 0 10px;
  }

  a,
  a:hover,
  a:visited {
    color: $text-color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    border-bottom: 2px solid $text-color;
  }

  .site-title {
    @include relative-font-size(1.2);
    float:left;

    .title-link {
      &:hover,
      &:focus {
        border: none;
      }
    }
  }

  .site-form-wrap {
    float:right;
  }
}
